@model ALBLOG.Domain.Model.Page

<div>
    <div>
        @foreach (var item in Model.Posts)
        {
            <div>
                <a style="color:black" href="~/home/post?id=@item.Id">
                    <h3>
                        @item.Title
                        <br />
                        <small>
                            @item.Date.AddHours(8)
                        </small>
                    </h3>
                </a>
                <span>标签：</span>
                @foreach (var tag in item.Tags ?? new List<string>())
                {
                    <a class="post-tags btn-primary" href="~/home/tag?name=@tag">@tag </a>
                }
            </div>
            <hr />
        }
    </div>
    <div>
        <span>
            第 @Model.Index 页，
        </span>
        <span>
            共 @Model.PageCount 页
        </span>
        @if (Model.HaveLast)
        {
            <span>
                <a href="~/home/index?index=@(Model.Index-1)">
                    上一页
                </a>
            </span>
        }
        @if (Model.HaveNext)
        {
            <span>
                <a href="~/home/index?index=@(Model.Index+1)">
                    下一页
                </a>
            </span>
        }
    </div>
</div>
