
@{
    Layout = "_Layout";
}
<div>
    <h2>Change Introduction</h2>
    <div class="row">
        <a href="~/admin/ChangeProfile" class="col-md-1">Profile</a>
        <a href="~/admin/ChangeAbout" class="col-md-1">About</a>
        <a href="~/admin/Image" class="col-md-1">Image</a>
        <a href="~/admin/ChangeCV" class="col-md-1">CV</a>
    </div>
    <hr />
</div>
<style>
    #Myself {
        visibility: hidden
    }
</style>
@RenderBody();




