<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AndrewLiu的Blog</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/font-awesome.css" />
        <link rel="stylesheet" href="~/lib/highlight/css/atom-one-dark.css" />
        <link rel="stylesheet" href="~/lib/wangEditer/css/wangEditor.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-table/css/bootstrap-table.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/lib/font-awesome/font-awesome.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/highlight/css/atom-one-dark.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/wangEditer/css/wangEditor.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/bootstrap-table/css/bootstrap-table.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    <style type="text/css">
        #gitlogo {
            padding: 0px
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/Home/Index">
                    <img width="230" src="~/images/Logo.png" class="img-responsive ">
                </a>
            </div>
            <div class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">主页</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">关于</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        <div class="row">
            <section class="col-md-9">
                @RenderBody()
                <hr />
            </section>
            <aside class="col-md-3 hidden-xs" id="Myself">
                <section class="margin-top-25">
                    <img src="" width="300" alt="图片不存在" id="ProfilePhoto" />
                    <div>
                        <div class="margin-top-15" id="Profile" />
                        <div>
                            <a href="~/home/cv">我的简历</a>
                        </div>
                        <div>
                            <a href="~/home/about">关于本站</a>
                        </div>
                    </div>
                </section>
            </aside>
        </div>
    </div>
    <footer>
        <div class="container" id="footer">
            <div class="row">
                <div class="col-md-3">
                    <h4>COPY RIGHT</h4>
                    <div class="margin-top-25">
                        <div class="margin-top-10"><a href="~/admin" style="color:white">ALBLOG</a> &copy; 2019 - 2019 </div>
                        <div class="margin-top-10">Designed and Developed by Andrew Liu </div>
                        <div class="margin-top-10"><small>Powered by <a target="_blank" style="color:white" href="https://dotnet.microsoft.com/"> .net core 2.1</a> on Linux</small></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h4>CONTACT</h4>
                    <div class="margin-top-25">
                        <div class="margin-top-10">Github : <a target="_blank" style="color:white" href="https://github.com/AndrewLiuZY">github.com/AndrewLiuZY</a></div>
                        <div class="margin-top-10">QQ : 317369453</div>
                        <div class="margin-top-10">WeChat : 17649857833 </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h4>FRIEND LINKS</h4>
                    <div class="margin-top-25">
                        <div><span class="glyphicon glyphicon-user" aria-hidden="true"> </span><a style="color:white" target="_blank" href="https://i-tech.tech/"> CALL HIM HUANGKEMENG</a></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h4>RSS</h4>
                    <div class="margin-top-25">
                        <div>暂时没有</div>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/highlight/js/highlight.pack.js"></script>
        <script src="~/lib/wangEditer/js/wangEditor.js"></script>
        <script src="~/lib/bootstrap-table/js/bootstrap-table.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/lib/highlight/js/highlight.pack.js"></script>
        <script src="~/lib/wangEditer/js/wangEditor.min.js"></script>
        <script src="~/lib/bootstrap-table/js/bootstrap-table.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
