@{
    Layout = "_AdminLayout";
}
<div>
    <h2 class="">Log  <button class="btn btn-link"><a href="~/admin/index">go back</a></button></h2>
    <ul class="nav nav-tabs">
        <li id="nav0"><a href="/log/">Sum</a></li>
        <li id="nav1"><a href="/log/visitor">Visitor</a></li>
        <li id="nav2"><a href="/log/admin">Admin</a></li>
    </ul>
</div>
@RenderBody()
