@{
    Layout = "_AdminLayout";
}
<div>
    <h2 class="">Log  <button class="btn btn-link"><a href="~/admin/index">go back</a></button></h2>
    <ul class="nav nav-tabs">
        <li id="nav0"><a href="">总统计</a></li>
        <li id="nav1"><a href="">其他一</a></li>
        <li id="nav2"><a href="">其他二</a></li>
        <li id="nav3"><a href="">其他三</a></li>
    </ul>
</div>
@RenderBody()
