<?xml version="1.0" encoding="utf-8" ?>
<mongoDBConfiguration>
  <mongoDB>
    <!-- MongoDB Connection String URI Format https://docs.mongodb.org/manual/reference/connection-string/ -->
    <mongoClient connectionString="mongodb://localhost:27017" mode="full"></mongoClient>
  </mongoDB>
</mongoDBConfiguration>