/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.post-tags {
    background-color:dimgrey;
    color:white;
    display: inline-block;
    font-size: .75rem;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 5px 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    ul li {
        margin: 0;
        padding: 0;
    }


.margin-top-5 {
    margin-top: 5px;
}

.margin-top-8 {
    margin-top: 8px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-25 {
    margin-top: 25px;
}

.margin-left-5 {
    margin-left: 5px;
}

.margin-left-8 {
    margin-left: 8px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-left-15 {
    margin-left: 15px;
}

.margin-left-18 {
    margin-left: 18px;
}

.margin-left-20 {
    margin-left: 20px;
}

.padding-25 {
    padding: 25px;
}

.font-normal {
    color: #333333;
    font-family: Segoe UI;
    font-size: 13px !important;
}

.font-link {
    color: #1c8cff;
    font-family: Segoe UI;
    font-size: 13px;
}

.font-bold {
    color: #333333;
    font-family: Segoe UI Semibold, Segoe UI;
    font-size: 13px;
    font-weight: 600;
}

.color-white {
    color: #ffffff !important;
}

.color-red {
    color: red;
}

.display-inline {
    display: inline !important;
}

.display-inline-block {
    display: inline-block !important;
}

.border-solid {
    border: 1px solid #dedede;
}

.vertical-align-middle {
    vertical-align: middle;
}

/*header style*/
.bootstrap-table-thread, .fixed-table-header {
    background-color: #eeeeee;
}

.fixed-table-container thead th .th-inner, .fixed-table-container tbody td .th-inner {
    color: #777777;
    font-size: 13px;
    font-weight: normal;
}
/*header style end*/

.fixed-table-container tbody a {
    margin-left: 0px;
}

/*table style*/
.fixed-table-container table {
    border: none !important;
}

    .fixed-table-container table tr td {
        border-left: none !important;
    }

    .fixed-table-container table th {
        border-left: none !important;
    }
/*table style end*/

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-both {
    clear: both;
}
