
@{
    ViewData["Title"] = "About";
    Layout = "_HomeLayout";
}
<div class="panel-default margin-top-20">
    <div class="panel-heading">
        <h4 class="panel-title">关于本站</h4>
    </div>
    <div class="panel-body" id="divAbout"></div>
</div>


