
@{
    ViewData["Title"] = "About";
}
<h2>关于我</h2>
<a href="~/home/cv">我的简历</a>
<h2>关于本站</h2>
<hr />
<p>本站后端使用asp.net core mvc 2.1，数据库使用MongoDb,前端使用bootstrap，jQuery和一部分rozar开发。目前部署在阿里云的linux服务器上。</p>

