
@{
    ViewData["Title"] = "About";
    Layout = "_HomeLayout";
}
<h2>关于我</h2>
<a href="~/home/cv">我的简历</a>
<h2>关于本站</h2>
<hr />
<div id="divAbout"></div>
@*<p>本站后端使用asp.net core mvc 2.1，数据库使用MongoDb,前端使用bootstrap，jQuery和一部分rozar开发。目前部署在阿里云的linux服务器上。</p>*@
@*<h2>版本目录</h2>
    <hr />
    <h3>ALBLOG 0.5 </h3>
    <p>拥有一个博客系统基本的功能，包括博客的编写功能(使用wangEditor)、crud和后台登陆。</p>
    <p>目前计划中的未完成的功能有：tag系统和评论系统,计划于2.0版本完成</p>
    <h3>ALBLOG 0.7 <small>(现在版本)</small></h3>
    <p>加入草稿箱功能</p>
    <p>加入代码高亮功能</p>
    <h3>ALBLOG 1.0</h3>
    <p>计划：完善tag系统和增加评论系统</p>*@
<script>
    GetAbout();
</script>
