@{
    ViewBag.Title = "关于我";
    Layout = "_HomeLayout";
}
<div class="panel panel-default margin-top-20">
    <div class="panel-heading">
        <h4 class="panel-title">我的简历</h4>
    </div>
    <div class="panel-body" id="divCV"></div>
</div>


<style>
    #Myself {
        visibility: hidden
    }
</style>
