<div>
    <div>
        <div>
            <h3> @ViewData["title"]</h3>
            <hr />
        </div>
        <div>
            <h4>
                <small>
                    @ViewData["date"]  点击量(@ViewData["pageviews"]) 标签：@ViewData["tags"]
                </small>
            </h4>
        </div>
    </div>
    <div>
        @Html.Raw(ViewData["context"])
    </div>
</div>


