@model ALBLOG.Domain.Model.Post
@{
    ViewData.Add("Title", Model.Title);
}
<div>
    <div>
        <div>
            <h3> @Model.Title</h3>
            <hr />
        </div>
        <div>
            <h4>
                <small>
                    创建于：@Model.Date 最后一次编辑时间：@Model.EditDate  点击量：@Model.PageViews 标签：@string.Join(',', Model.Tags ?? new List<string> { });
                </small>
            </h4>
        </div>
    </div>
    <div style="font-size:large" id="text">
        @Html.Raw(Model.Context)
    </div>
</div>


