<div>
    <div>
        <div>
            <h3> @ViewData["title"]</h3>
            <hr />
        </div>
        <div>
            <h4>
                <small>
                    编辑于：@ViewData["date"] 最后一次编辑时间：@ViewData["editdate"]  点击量：@ViewData["pageviews"] 标签：@ViewData["tags"]
                </small>
            </h4>
        </div>
    </div>
    <div style="font-size:large">
        @Html.Raw(ViewData["context"])
    </div>
</div>


