
@{
    string tags = "";
    if (ViewData["tags"] != null)
    {
        (ViewData["tags"] as List<string>).ForEach(i => tags += i + ",");
    }
    string title = ViewData["postTitle"] as string ?? "";
    ViewBag.isEdit = ViewData["Title"] as string == "Edit" ? true : false;
}

<h2 id="pagetitle">@ViewData["Title"]</h2>
<div>
    <div id="postDemo"></div>
    <div>
        <div>
            <div>
                <label for="txtTitle">Title</label>
                <input type="text" class="form-control" id="txtTitle" value="@title" />
            </div>
            <div class="margin-top-10">
                <label for="txtTags">Tags(',')</label>
                <input type="text" class="form-control" id="txtTags" value="@tags" />
            </div>
        </div>
        <div class="margin-top-10">
            <div>
                <span class="form-group">
                    <label>Context</label>
                    <button class="btn btn-link float-right" style="text-align:right" id="btnSubmitPost">Submit</button>
                    <button class="btn btn-link float-right" style="text-align:right" id="btnDraftPost">To draft box</button>
                    <button class="btn btn-link float-right" style="text-align:right" id="btnPreviewPost">Preview</button>
                </span>
            </div>
            <div class="margin-top-10" id="editor">
                @Html.Raw(ViewData["context"])
            </div>
        </div>
        <div>
            <div class="margin-top-10"id="previewBox">
            </div>
        </div>
    </div>
</div>
<style>
    #Myself {
        visibility: hidden
    }
</style>

