
@{
    ViewData["Title"] = "Index";
}
<h1>
    Hi! @ViewBag.Name
<button class="btn btn-link" id="btnLogOut">log out</button>
</h1>
<div>
    <h3>Post Manage</h3>
    <a href="~/admin/CreatePost">create a post</a>

</div>
