@model ALBLOG.Domain.Model.Page
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Index";
}
<h1 class="padding-8">
    Hi! @ViewBag.Name !
    <button class="btn btn-link" id="btnLogOut">log out</button>
</h1>
<div>
    <div class="padding-8">
        <h3>Post Manage</h3>
        <div class="row">
            <a class="col-md-2" href="~/admin/Post">Create a post</a>
            <a class="col-md-2" href="~/admin/Drafts">Drafts(@ViewData["draftCount"])</a>
            <a class="col-md-3" href="~/admin/Profile">Settings</a>
        </div>
    </div>
    @Html.DisplayForModel()
</div>
