
@{
    ViewData["Title"] = "ChangeProfile";
    Layout = "_SettingsLayout";
}
<div>
    <strong>ChangeProfilePhoto</strong>
    <div>
        <img src="http://pic40.nipic.com/20140424/18085978_175633400193_2.jpg" width="300" class="margin-top-15" id="ImgPreProfile" alt="Alternate Text" />
        <form action="/admin/UpLoadProfileImg" class="form-inline row margin-top-15" id="frmUpLoadProfileImg">
            <input type="file" name="GetProfilePhoto" style="top:5px" class="col-md-3" />
            <button type="button" class="btn btn-link col-md-1 " id="btnSaveProfilePhoto">Save</button>
        </form>
    </div>
</div>
<hr />
<div>
    <div>
        <span class="form-group">
            <label>ChangeProfile</label>
            <button class="btn btn-link float-right" style="text-align:right" id="btnSaveProfile">Save</button>
            <button class="btn btn-link float-right" style="text-align:right" id="btnRecallProfile">Recall</button>
        </span>
    </div>
    <div class="margin-top-10" id="editor">
        @Html.Raw(ViewData["context"])
    </div>
    <div>
        <div class="margin-top-10" id="previewBox">
        </div>
    </div>
</div>
<style>
    #Myself {
        visibility: visible !important
    }
</style>


